
.modal-title {
    margin-left: 30%;
    font-size: 18px;
    font-weight: 600;
}
.modal-content {
    width: 100% !important;
}
.form-check {
    text-align: start;
}
.form-check-label {
    font-size: 16px;
    font-weight: 600;
}
.modal-footer {
    border-top: 0px !important;

    button {
        padding: 10px 20px;
        border-radius: 8px;
        background-color: transparent  !important;
        font-size: 14px;
        font-weight: 600;
        color: var(--audio-player) !important;
        border: 1px solid var(--audio-player) !important;

        &:hover {
            color: var(--white) !important;
            background-color: var(--audio-player)  !important;
        }
    }
}