.main-section {
  #main {
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    background-color: var(--background-color);
    margin-left: 280px; 
    min-height: 100vh;
  }

  &.menu-closed #main {
    margin-left: 0;
  }

  @media (max-width: 991.98px) {
    #main {
      margin-left: 0 !important;
    }
  }

  .col-container {
    padding-left: 0;
    padding-right: 0;
  }

  .row-container {
    width: 100%;
    --bs-gutter-x: 0;
  }
}
