.circular-progress {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;

    .table>:not(caption)>*>* {
      padding: 0 !important;
  }
  }
 